{% extends '../layout/base.html' %} 
{% block main %}

<div class="h-full bg-gray-200 p-8">

  <div class="bg-white rounded-lg shadow-xl pb-8 mb-6">
    <div class="flex flex-col items-center -mt-4">
      <div class="flex items-center space-x-2 mt-1">
        <p class="text-2xl mt-5 font-bold">{{ user.full_name }}</p>
      </div>
      <p class="text-gray-700">{{ user.email }}</p>
    </div>
  </div>

  <div class="flex flex-col items-center">
    <div class="flex-1 w-full sm:w-1/2">
      <div class="bg-white rounded-lg shadow-xl p-8 mb-5">
        <h4 class="text-xl text-gray-900 font-bold">Atualize seus dados</h4>
        <p class="mt-2 text-gray-700">
          {{ user.full_name }}, mantenha sua conta segura e suas finanças
          protegidas.
        </p>
        <form action="{% url 'profile' %}" class="mt-3"
        method="POST">
            {% csrf_token %}

          <div class="mb-6">
            <label for="full_name" class="text-sm font-medium text-gray-900 block mb-2">Nome completo:</label>
            <input type="text" id="full_name" name="full_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Seu nome completo aqui..." value="{{ user.full_name }}" />
          </div>
          <div class="mb-6">
            <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Seu melhor e-mail:</label>
            <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="seuemail@exemplo.com" value="{{ user.email }}" />
          </div>
          <div class="mb-6">
            <label for="password" class="text-sm font-medium text-gray-900 block mb-2">Nova senha:</label>
            <input type="text" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Sua senha aqui..." />
          </div>
          <div class="mb-6">
            <label for="cPassword" class="text-sm font-medium text-gray-900 block mb-2">Confirme a nova senha:</label>
            <input type="text" id="cPassword" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Confirme sua senha aqui..." />
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
